/* Ayu Theme (Dark) */
@define-color global_bg              rgba(15, 20, 25, 0.65);
@define-color global_fg              #bfbdb6;
@define-color tooltip_bg             rgba(13, 17, 23, 0.95);
@define-color tooltip_border         #ffcc66;
@define-color appmenu_fg             #59c2ff;
@define-color appmenu_hover_bg       #1f2430;
@define-color cpu_fg                 #f07178;
@define-color temperature_fg         #ffaa33;
@define-color disk_fg                #c2d94c;
@define-color gpu_fg                 #95e6cb;
@define-color memory_fg              #73d0ff;
@define-color taskbar_btn_bg         rgba(31, 36, 48, 0.85);
@define-color taskbar_btn_border     #ffcc66;
@define-color taskbar_btn_hover_bg   rgba(42, 47, 59, 0.9);
@define-color taskbar_btn_hover_border #ffd580;
@define-color taskbar_btn_active_bg  rgba(255, 204, 102, 0.3);
@define-color taskbar_btn_active_border #ffcc66;
@define-color clock_fg               #e6b450;
@define-color tray_hover_bg          rgba(42, 47, 59, 0.8);
@define-color tray_hover_fg          #d9d7ce;
@define-color logout_fg              #bfbdb6;
@define-color logout_bg              rgba(13, 17, 23, 0.85);
@define-color logout_hover_bg        rgba(240, 113, 120, 0.2);
@define-color menuitem_fg            #bfbdb6;
@define-color menuitem_bg            #0f1419;
@define-color menuitem_hover_bg      #1f2430;
@define-color menuitem_hover_fg      #ffcc66;
