/* Everforest Theme */
@define-color global_bg              rgba(45, 50, 46, 0.65);
@define-color global_fg              #d3c6aa;
@define-color tooltip_bg             rgba(35, 39, 35, 0.95);
@define-color tooltip_border         #a7c080;
@define-color appmenu_fg             #7fbbb3;
@define-color appmenu_hover_bg       #3d484d;
@define-color cpu_fg                 #e67e80;
@define-color temperature_fg         #e69875;
@define-color disk_fg                #d3c6aa;
@define-color gpu_fg                 #a7c080;
@define-color memory_fg              #83c092;
@define-color taskbar_btn_bg         rgba(61, 72, 77, 0.85);
@define-color taskbar_btn_border     #a7c080;
@define-color taskbar_btn_hover_bg   rgba(75, 88, 92, 0.9);
@define-color taskbar_btn_hover_border #7fbbb3;
@define-color taskbar_btn_active_bg  rgba(167, 192, 128, 0.3);
@define-color taskbar_btn_active_border #a7c080;
@define-color clock_fg               #dbbc7f;
@define-color tray_hover_bg          rgba(75, 88, 92, 0.8);
@define-color tray_hover_fg          #d3c6aa;
@define-color logout_fg              #d3c6aa;
@define-color logout_bg              rgba(35, 39, 35, 0.85);
@define-color logout_hover_bg        rgba(230, 126, 128, 0.2);
@define-color menuitem_fg            #d3c6aa;
@define-color menuitem_bg            #2d353b;
@define-color menuitem_hover_bg      #3d484d;
@define-color menuitem_hover_fg      #a7c080;
