/* Nord Theme */
@define-color global_bg              rgba(46, 52, 64, 0.75);
@define-color global_fg              #eceff4;
@define-color tooltip_bg             rgba(46, 52, 64, 0.95);
@define-color tooltip_border         #81a1c1;
@define-color appmenu_fg             #88c0d0;
@define-color appmenu_hover_bg       #4c566a;
@define-color cpu_fg                 #ebcb8b;
@define-color temperature_fg         #d08770;
@define-color disk_fg                #eceff4;
@define-color gpu_fg                 #81a1c1;
@define-color memory_fg              #a3be8c;
@define-color taskbar_btn_bg         rgba(67, 76, 94, 0.85);
@define-color taskbar_btn_border     #88c0d0;
@define-color taskbar_btn_hover_bg   rgba(76, 86, 106, 0.95);
@define-color taskbar_btn_hover_border #8fbcbb;
@define-color taskbar_btn_active_bg  rgba(129, 161, 193, 0.4);
@define-color taskbar_btn_active_border #81a1c1;
@define-color clock_fg               #d8dee9;
@define-color tray_hover_bg          rgba(76, 86, 106, 0.8);
@define-color tray_hover_fg          #eceff4;
@define-color logout_fg              #eceff4;
@define-color logout_bg              rgba(46, 52, 64, 0.9);
@define-color logout_hover_bg        rgba(191, 97, 106, 0.2);
@define-color menuitem_fg            #eceff4;
@define-color menuitem_bg            #2e3440;
@define-color menuitem_hover_bg      #4c566a;
@define-color menuitem_hover_fg      #f8fafc;
